* {
    margin:  0;
    padding: 0;
    list-style: none; 
    text-decoration: none;
    font-family: 'Comic Neue', cursive;
  }

  header{
    text-align: center;
    border: solid 2px black;
    border-bottom: none;
  }

  header img{
    padding: 20px 0px 20px 0px;
  }

  header nav{
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
  }

  header ul{
    display: inline-block;
    margin: 0px 20px 0px 20px;
    background-color: rgb(126, 78, 126);
    padding: 10px 8% 10px 8%;
    border-radius: 5px;
    cursor: pointer;
  } 
  
  header nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  header nav ul:first-child{
    background-color: orange;
  }
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*VISTA 1*/
  .vista1{
    display: flex;
    justify-content: center;    
    background-color: gray;
  }

  .vista1 article{
    border: solid 2px black;
    margin: 0px 1px 0px 0px;
    background-color: white;

  }

  .vista1 article:first-child{
    padding: 90px 6% 90px 6%;
  }

  .vista1 article:last-child{
    padding: 20px 5% 20px 5%;
  }

  .vista1 article:last-child h2{
    margin-bottom: 5px;
  }

  .vista1 article:last-child small{
    font-weight: bold;
  }

  .vista1 article:last-child hr{
    width: 32.5%;
    margin-top: 3px;
  }

  .vista1 article div{
    width: 64%;
  }

  .vista1 article:last-child p{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  /*----------------------------------------------------------------------------------------------*/
/*SEGUNDA VISTA*/

.vista2{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: cornflowerblue;
    padding-top: 40px;
    padding-bottom: 40px;
    border: solid 2px black;
}

.vista2 div{
    width: 51%;
}

.vista2 h1{
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

.vista2 hr{
    color: white;
    margin: 0 auto;
    width: 20%;
}

.vista2 p{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 40px;
}
/*------------------------------------------------------------------------------------------------------*/
/*TERCERA VISTA*/
.vista3{
    border: solid 1px black;
}

.vista3 h1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 40px 0px 40px 0px;
}

.vista3 div{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.vista3 div article{
    width: 25%;
    text-align: center;
    background-color: orange;
    border: 5px solid cornflowerblue;
    margin-bottom: 30px;
}

.vista3 article h1{
    color: white;
    font-weight: bold;
}

.vista3 div article p{
    width: 58%;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.vista3 article button{
    padding: 5px 10% 5px 10%;
    margin: 30px 0px 30px 0px;
    font-size: 18px;
    font-weight: bold;
    border: solid 2px black;
    cursor: pointer;
    box-shadow: 3px 3px 0px 0px black;
}

.vista3 article button a{
    color: orange;
    font-weight: bold;
}
/*-------------------------------------------------------------------------------------------------*/
/*CUARTA VISTA*/

.vista4{
  background-color: cornflowerblue;
  border: solid 2px black;
  padding-bottom: 40px;
}

.vista4 h1{
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  padding: 40px 0px 40px 0px;

}

.vista4 div{
  display: flex;
  justify-content: center;
}

.vista4 div article{
  width: 20%;
  text-align: center;
  background-color:rgb(236, 240, 241);
  border: solid 2px black;
}

.vista4 div article h2{
  padding: 10px 0px 10px 0px;
  background-color: rgb(189, 195, 199);
}

.vista4 div article img{
  width: 40%;
  margin: 30px 0px 40px 0px;
}

/*-------------------------------------------------------------------------------------------------*/
/*quienesSomos*/